<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Serveur</h3>
            </div><!-- /.box-header -->
            <div class="box-body" style="text-align:center">
                <div style="width:184px;display: inline;">
                    <a href="{{ path('awhs_admin_server', { server_hostname: server.reverse}) }}">
							<span>
							<button class="shortcut-button btn btn-default"
                                    style="width:100%; max-width:183px;min-height:61px;white-space: normal;margin: 5px;">
                                <img src="{{ asset('/images/icons/flat/svg/electrical_sensor.svg') }}" width="24" height="24"><br>
                                Informations
                            </button>
                            </span>
                    </a>
                </div>
                <div style="width:184px;display: inline;">
                    <a href="{{ path('awhs_admin_server_settings', { server_hostname: server.reverse}) }}">
							<span>
							<button class="shortcut-button btn btn-default"
                                    style="width:100%; max-width:183px;min-height:61px;white-space: normal;margin: 5px;">
                                <img src="{{ asset('/images/icons/flat/svg/settings.svg') }}" width="24" height="24"><br>
                                Paramètres généraux
                            </button>
                            </span>
                    </a>
                </div>
                <div style="width:184px;display: inline;">
                    <a href="{{ path('awhs_admin_server_firewall', { server_hostname: server.reverse}) }}">
                        <button class="shortcut-button btn btn-default"
                                style="width:100%; max-width:183px;min-height:61px;white-space: normal;margin: 5px;">
                            <img src="{{ asset('/images/icons/flat/svg/cloth.svg') }}" width="24" height="24"><br>
                            Firewall
                        </button>
                    </a>
                </div>
                <div style="width:184px;display: inline;">
                    <a href="{{ path('awhs_admin_server_packages', { server_hostname: server.reverse}) }}">
							<span>
							<button class="shortcut-button btn btn-default"
                                    style="width:100%; max-width:183px;min-height:61px;white-space: normal;margin: 5px;">
                                <img src="{{ asset('/images/icons/flat/svg/package.svg') }}" width="24" height="24"><br>
                                Packages
                            </button>
                            </span>
                    </a>
                </div>
                <div style="width:184px;display: inline;">
                    <a href="{{ path('awhs_admin_server_ssh', { server_hostname: server.reverse}) }}">
							<span>
							<button class="shortcut-button btn btn-default"
                                    style="width:100%; max-width:183px;min-height:61px;white-space: normal;margin: 5px;">
                                <img src="{{ asset('/images/icons/flat/svg/key.svg') }}" width="24" height="24"><br>
                                Clé SSH
                            </button>
                            </span>
                    </a>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->