{% extends '::'~awhs.template~'/base_dashboard.html.twig' %}

{% trans_default_domain "service" %}

{% block title %} {{ app_name }} - Configuration du panier{% endblock %}

{% block menu_user_money %}{{ client.money }}{% endblock %}
{% block menu_user_lastip %}{{ client.lastip }}{% endblock %}
{% block sidebarMenuDashboardActive %} active{% endblock %}

{% block fastNavigation %}{% endblock %}
{% block pageHeader %}{% endblock %}
{% block extendCss %}
    <style>
        #progressbar {
            overflow: hidden;
            /*CSS counters to number the steps*/
            counter-reset: step;
        }

        #progressbar li {
            list-style-type: none;
            color: black;
            text-transform: uppercase;
            font-size: 9px;
            width: 25%;
            float: left;
            position: relative;
            font-size: 14px;
        }

        #progressbar li:before {
            content: counter(step);
            counter-increment: step;
            width: 20px;
            line-height: 20px;
            display: block;
            font-size: 10px;
            color: #333;
            background: white;
            border-radius: 3px;
            /*margin: 0 auto 5px auto;*/
            float: left;
        }

        /*progressbar connectors*/
        #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: white;
            position: absolute;
            left: -50%;
            top: 9px;
            z-index: -1; /*put it behind the numbers*/
        }

        #progressbar li:first-child:after {
            /*connector not needed before the first step*/
            content: none;
        }

        /*marking active/completed steps green*/
        /*The number of the step and the connector before it = green*/
        #progressbar li.active:before, #progressbar li.active:after {
            background: #27AE60;
            color: white;
            text-align: center;
        }

        #progressbar li:before, #progressbar li:after {
            background: #B2B2B2;
            color: white;
            text-align: center;
        }</style>
{% endblock %}

{% block content %}
    {% set subtotal = 0 %}
    {% set taxe = 0.00 %}
    <div class="row">
        <div class="col-md-12">
            <div class="invoice panel panel-default p-40">
                <div class="panel-body p-t-0">
                    <div class="row">
                        <div class="col-md-12">
                            <ul id="progressbar">
                                <li>Panier</li>
                                <li>Configuration</li>
                                <li class="active">Passer en revue</li>
                                <li>Commander</li>
                            </ul>
                            <form action="{{ path('awhs_core_cart_review') }}" method="post">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th style="width:65px" class="unseen text-center">QTE</th>
                                        <th class="text-left">DESCRIPTION</th>
                                        <th style="width:145px" class="text-right">UNITE</th>
                                        <th style="width:95px" class="text-right">TOTAL</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in cart %}
                                        {% set subtotal = subtotal + ((item.package.price*item.quantity)*months) %}
                                        <tr class="item-row">
                                            <td class="delete-wpr">
                                                <span style="width: 40px;"
                                                      class="qty text-center">{{ item.quantity }}</span>
                                            </td>
                                            <td>
                                                <div class="text-primary">
                                                    <strong><span>{{ item.package.name }}</span></strong></div>
                                                <ul>

                                                    {% for subscriptionProduct in item.package.productsPackage %}
                                                        <li>
                                                            <small class="width-100p">{{ subscriptionProduct.product.name }}
                                                                ({{ subscriptionProduct.product.category.name }})
                                                            </small>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                            <td class="text-right cost">
                                                <span>{{ item.package.price|number_format(2, '.', ',') }}€</span>
                                            </td>
                                            <td class="text-right price">{{ ((item.package.price*item.quantity)*months)|number_format(2, '.', ',') }}
                                                €
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="2" rowspan="5"></td>
                                        <td class="text-right"><strong>Durée: </strong></td>
                                        <td class="text-right">{{ months }} mois</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right"><strong>Rabais</strong></td>
                                        <td class="text-right" id="rebate">0.00€</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right"><strong>Sous-total</strong></td>
                                        <td class="text-right" id="subtotal">{{ subtotal|number_format(2, '.', ',') }}
                                            €
                                        </td>
                                    </tr>
                                    {#<tr>
                                        <td class="text-right no-border"><strong>Shipping</strong></td>
                                        <td>
                                            <span class="text-right" id="shipping">0.00€</span>
                                        </td>
                                    </tr>#}
                                    <tr>
                                        <td class="text-right no-border"><strong>Taxes</strong></td>
                                        <td class="text-right">{{ (subtotal*taxe)|number_format(2, '.', ',') }}€</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right no-border">
                                            <div><strong>Total</strong></div>
                                        </td>
                                        <td class="text-right"
                                            id="total">{{ (subtotal+(subtotal*taxe))|number_format(2, '.', ',') }}€
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="text-left">CONFIGURATION DE LA COMMANDE</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in cart %}
                                        {% for i in 1..item.quantity %}
                                            {% for subscriptionProduct in item.package.productsPackage %}
                                                <tr class="item-row">
                                                    <td colspan=2>
                                                        {% include  'AWHSCoreBundle:'~awhs.template~'/Cart/Configuration:' ~ subscriptionProduct.product.category.prefix ~ '_review.html.twig' with {'index_package': i-1, 'index': loop.index0, 'item': item, 'product': subscriptionProduct.product, 'settings': subscriptionProduct.product.settingsArray} %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}


                                    <tr>
                                        <td class="text-left">
                                            <button onclick="window.location='{{ path('awhs_core_cart_config') }}';return false;"
                                                    class="btn btn-primary btn-sm">Retour à la configuration
                                            </button>
                                        </td>
                                        <td class="text-right">
                                            <button type="submit" name="buy" class="btn btn-primary btn-sm">Commander
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.row -->
{% endblock %}