{% extends '::'~awhs.template~'/base_dashboard.html.twig' %}

{% trans_default_domain "service" %}

{% block sidebarMenuAdminActive %}active{% endblock %}
{% block menu_user_money %}{{ client.money }}{% endblock %}
{% block menu_user_lastip %}{{ client.lastip }}{% endblock %}
{% block extendCss %}
    <style>select {
            min-width: 230px
        }</style>
{% endblock %}
{% block extendJsBottom %}
    <script src="{{ asset('bundles/awhscore/js/plugins/datatables/jquery.dataTables.js') }}"
            type="text/javascript"></script>
    <script src="{{ asset('bundles/awhscore/js/plugins/datatables/dataTables.bootstrap.js') }}"
            type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            //$("#example1").dataTable();
            $('#iptable').dataTable({
                "bPaginate": true,
                "bLengthChange": false,
                "bFilter": false,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": false
            });
        });
    </script>
    <script language="JavaScript" type="text/javascript">
        $(document).ready(function () {
            $('#add').click(function () {
                return !$('#selAvailable option:selected').remove().appendTo('#selAvailableVPS');
            });
            $('#remove').click(function () {
                return !$('#selAvailableVPS option:selected').remove().appendTo('#selAvailable');
            });

            $('#changeIP').submit(function () {
                $('#selAvailableVPS option').each(function (i) {
                    $(this).attr("selected", "selected");
                });
                $('#selAvailable option').each(function (i) {
                    $(this).attr("selected", "selected");
                });
                //return false;
            });
        });
    </script>
{% endblock %}
{% block contentHeader %}
    <h1>
        Gestion des adresses IPs
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('awhs_services_homepage') }}"><i class="fa fa-dashboard"></i> Services</a></li>
        <li class="active"><i class="fa "></i>Gestion des adresses IPs</li>
    </ol>
{% endblock %}
{% block sidebarMenuMore %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Ajouter une adresse IP</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <form role="form" method="post" id="createIP">
                        <div class="form-group">
                            <label>{{ form_label(formIP.server) }}</label>
                            {{ form_widget(formIP.server, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group">
                            <label>{{ form_label(formIP.ip) }}</label>
                            {{ form_widget(formIP.ip, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group">
                            <label>{{ form_label(formIP.reverse) }}</label>
                            {{ form_widget(formIP.reverse, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group">
                            <label>{{ form_label(formIP.mac) }}</label>
                            {{ form_widget(formIP.mac, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group">
                            <label>{{ form_label(formIP.ipv6) }}</label>
                            {{ form_widget(formIP.ipv6, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group">
                            <label>{{ form_label(formIP.country) }}</label>
                            {{ form_widget(formIP.country, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_rest(formIP) }}
                        <br/><input class="btn btn-default btn-flat" name="addIP" type="submit" id="addIP"
                                    value="Valider">


                    </form>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->

    <!-- JavaScripts -->

{% endblock %}